[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pre-commit = "*"
accelerate = "*"
argh = "*"
dacite = "*"
demucs = "*"
diffusers = ">=0.9.0"
numpy = "*"
pillow = ">=9.1.0"
plotly = "*"
pydub = "*"
pysoundfile = "*"
scipy = "*"
soundfile = "*"
sox = "*"
torch = "*"
torchaudio = "*"
torchvision = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.10"
