fastapi
uvicorn[standard]
black
isort
flake8
mypy
pre-commit
accelerate
argh
dacite
demucs
diffusers>=0.9.0
numpy
pillow>=9.1.0
plotly
pydub
pysoundfile
scipy
soundfile
sox
torch
torchaudio
torchvision
transformers
